body {
    padding-top: 70px;

}
.container{
    padding-top: 50px;
}
.myfaceeffect img {
 filter: grayscale(100%);
}
.myfaceeffect img:hover {
filter: grayscale(0);
}

.footer {
  background-color: #f5f5f5;x
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}


